<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div class="container">
    <div class="text-center">
        <h1>Calculator</h1>
    </div>
    <form class="form-narrow form-horizontal" action="#" method="post" th:action="@{calculator/execute}">
        <fieldset>
            <legend>Please Sign In</legend>
            <div class="form-group">
                <label for="inputA" class="col-lg-2 control-label">Input&nbspA</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputA" placeholder="inputA" name="inputA" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputB" class="col-lg-2 control-label">Input&nbspB</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputB" placeholder="inputB" name="inputB" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Execute</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div th:replace="fragments/layout :: footer">&copy; 2016 The Static Templates</div>
</div>
</body>
</html>